@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

$font : 'DM Sans', sans-serif;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}