@import "./constants";
@import "./index";
@import "./level1";
@import "./level2";
@import "./level3";

.body {
    background-color: #c3cfe2; 
    text-size-adjust: none;
}

.white {
    color: white;
}